<div class="container">
  <div class="header-actions">
    <h2>Monitores MoQa Registados</h2>
    <a routerLink="/novo-dispositivo" class="btn-primary">+ Novo Monitor</a>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Zona</th>
          <th>Bairro</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let disp of dispositivos">
          <td>#{{ disp.id }}</td>
          <td><strong>{{ disp.zona }}</strong></td>
          <td>{{ disp.bairro || '-' }}</td>
          <td>{{ disp.latitude }}</td>
          <td>{{ disp.longitude }}</td>
          <td>
            <button class="btn-action">Ver Logs</button>
          </td>
        </tr>
        
        <tr *ngIf="dispositivos.length === 0">
          <td colspan="6" class="empty-state">
            Nenhum monitor encontrado no banco de dados. Cadastre o primeiro!
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>