@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-gradient: #f8fafc;
  }

  html.dark, .dark {
    --bg-gradient: #020617;
  }

  body {
    @apply bg-slate-50 text-black font-sans transition-colors duration-500 overflow-hidden;
    margin: 0;
    padding: 0;
  }

  .dark body {
    @apply bg-slate-950 text-slate-100;
  }
}

.glass-nav {
  @apply bg-slate-50 border-r-2 border-slate-300 dark:bg-slate-900 dark:border-slate-800;
}

.glass-card {
  @apply bg-white border-2 border-slate-200 dark:bg-slate-900/90 dark:border-slate-800;
}

.sidebar-item-active {
  @apply bg-indigo-600 text-white;
}

.sidebar-item-hover {
  @apply hover:bg-slate-100/50 hover:text-indigo-600 transition-all duration-300;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-400 rounded-full hover:bg-slate-500 transition-colors dark:bg-slate-800 dark:hover:bg-slate-700;
}
